{{ range .PrintFiles}}{{.SampleUnitRef}}:{{.Iac}}:{{.CaseGroupStatus}}:{{.EnrolmentStatus}}:{{.RespondentStatus}}:{{.Contact.Forename}}:{{.Contact.Surname}}:{{.Contact.EmailAddress}}:{{.Region}}
{{ end }}